body {
    background-color: #fcfcfc;
    line-height: 1;
    margin: 0;
    padding: 0;
    color: #474B4f;
}

html,
body {
    height: 100%;
}

header {
    height: 70px;
    background-color: #474B4f;
}

header > div {
    height: 70px;
}

main {
    position: relative;
    top: 70px;
}

aside {
    background-color: #474B4f;
}

legend {
    padding-bottom: 5px;
    border-bottom: 1px solid #ffd600;
}

.my-color {
    background-color: #474B4f;
    color: #ffd600;
}

.my-color-inverse {
    background-color: #ffd600;
    color: #474B4f;
}

/*****************BUTTON Styling Bootstrap rewrite*************************/
.btn {
    border-radius: 0px;
}

.btn:focus,
.btn.focus,
.btn:active:focus,
.btn.active:focus {
    outline: 0;
    box-shadow: none;
}

.btn:hover,
.btn:active,
.btn-help:active {
    color: #fcfcfc;
    background-color: #474B4f;
}

/***********my Buttons*******************/
header .btn {
    border: none;
    border-left: 1px solid #ffd600;
}

.label-btn {
    height: 50px;
    width: 50px;
}

.btn.label-btn:hover {
    border: 2px ridge #ffd600;
}

.btn.label-btn:focus,
.btn.label-btn.focus,
.btn.label-btn:active:focus,
.btn.label-btn.active:focus {
    box-shadow: 0 0 0 2px #ffd600;
}

#in-outdoor > .label-btn,
#payment > .label-btn,
#canHelpType > .label-btn {
    width: initial;
}

.btn-help {
    width: 200px;
    height: 200px;
    font-family: 'Neucha', cursive;
    font-size: 38px;
    letter-spacing: 1.5px;
    word-spacing: 5px;
    border-radius: 25px 0 25px 25px;
}

.btn-meet {
    width: 100px;
    height: 100px;
    font-size: 18px;
}

.btn-help:hover,
.btn-join-us:hover {
    background-color: #ffd600;
    color: #474B4F;
}

.btn-join-us {
    /*font-family: 'Neucha', cursive;*/
    /*font-size: 30px;*/
    letter-spacing: 1.5px;
    border: none;
    border-radius: 25px 0 25px 25px;
}

.nav-item .btn-join-us {
    font-size: 20px;
    letter-spacing: 1px;
    width: 100%;
}
.btn-social {
    width: 207px;
    border: 1px solid #fff;
    border-radius: 25px 0 25px 25px;
}

.btn-social > :first-child {
    padding-left: 4px;
    width: 40px;
}
/*.sorter .btn {*/
/*width: 150px;*/
/*background-color: #fcfcfc;*/
/*border-radius: .25rem;*/
/*border: 1px solid #474B4F;*/
/*}*/

.exp .sorter .btn:hover {
    background-color: #fcfcfc;
    border-radius: .25rem;
    border: 1px solid #474B4F;
}

.sorter .btn:hover {
    color: #474B4f;
    background-color: rgba(147, 191, 0, 0.35);
}

.sorter .btn.active {
    background-color: rgba(147, 191, 0, 0.35);
}

/*!**************Nav-links, nav-pills****************/

#page-content .nav-pills .nav-link {
    border-bottom: none;
}

#page-content .nav-pills .nav-link:hover {
    border: 1px solid #474B4F;
    border-bottom: none;
}

#page-content .nav-pills .nav-link.active {
    background-color: rgba(147, 191, 0, 0.35);
    border: 1px solid rgba(147, 191, 0, 0.35);
    color: #474B4F;
    cursor: pointer;
    padding-top: 8%;
}

#page-content .nav-pills .nav-link.active:hover {
    color: #474B4F;
}

/*!*****Header and header-navigation styles******/
.logo-holder,
.name-holder {
    height: 70px;
}

.logo-holder a,
.logo-holder a:visited,
.logo-holder a:hover,
.logo-holder a:active {
    color: #ffd600;
    font-family: 'Amatic SC', cursive;
    font-size: 60px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
    text-decoration: none;
}

.name-holder img {
    height: 50px;
    width: 50px;
}

.header-link {
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1.5px;
}

.header-link:hover {
    color: #fcfcfc;
}

/*.navbar-collapse.show,*/
/*.navbar-collapse.collapsing {*/
/*background-color: #474B4F;*/
/*color: inherit;*/
/*}*/

/************Dropdown. Dropdown transition****************/
a:not([href]):not([tabindex]),
a:not([href]):not([tabindex]):hover {
    /*color: #ffd600;*/
    cursor: pointer;
}

.show > .dropdown-menu {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
}

.dropdown-menu {
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-transform: scale(1, 0);
    display: block;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
}

.dropdown-menu > a.dropdown-item {
    color: #474B4f;
}

.dropdown-menu > a.dropdown-item:hover {
    background-color: #474B4f;
    color: #fcfcfc;
}

/*!******************************MAIN******************************/
.sidebar-nav {
    max-width: 104px;
    min-width: 104px;
}

.sidebar-nav > ul > .nav-item {
    width: 100%;
    height: 104px;
}

.sidebar > .btn {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.sidebar.nav-item:hover > a {
    border: 2px ridge #ffd600;
    color: #ffd600;
}

.sidebar.nav-item.active > a {
    background-color: #ffd600;
    color: #474B4f;
}

.sidebar.nav-item.active:hover > a {
    border: 2px ridge #474B4f;
}

#page-content {
    width: 90%;
}

/*#page-content .tab-content {*/
/*border-top: 2px solid #474B4f;*/
/*}*/

/*******form elements styling***************/
.select-date {
    height: 60px;
    margin: 20px 0;
}

.input-group > input {
    max-width: 200px;
}

.input-group > .address-input {
    width: 400px;
    max-width: 400px;
}

.label-btn > .fa-check {
    color: #474B4F;
}

.mark-checked {
    color: #ffd600 !important;
}

.form-control:focus {
    border: 2px solid #ffd600;
}

.my-label {
    height: 16px;
    color: #177611;
    font-size: 12px;
}

.map-holder {
    height: 350px;
    position: relative;
    overflow: hidden;
    background-color: #2aabd2;
}

/************spiner for number of rids input****************************/
.spin {
    height: 50%;
    width: 33px;
    border: hidden;
}

.spinner {
    width: 100px;
}

.spinner input {
    text-align: right;
}

/*****************************Footer***************************/
footer {
    height: 50px;
    background-color: #9aa2ab;
}

.help-entry > p {
    line-height: 1.25;
    padding: .5rem 1rem;
    margin-bottom: 0;
}

.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    width: 200px;
}

.card-block-title {
    border-bottom: 1px solid green;
}

.confirmed,
.declined {
    background-color: rgba(147, 191, 0, 0.35) !important;
}

.disabled {
    opacity: .65;
}

.card-block.inbox {
    background-color: #e0e0e5;
    border-bottom: 2px solid #474B4F;
}

.card.outbox {
    background-color: rgba(121, 128, 135, 0.33);
}

.badge.inbox-badge {
    position: absolute;
    top: 0;
    left: 5px;
    font-size: 10px;
}

div.help-status {
    height: 37px;
    line-height: 37px;
    background-color: #93BF00;
}

.card-header .btn.help-status,
.btn.help-status,
.help-status:hover {
    width: 37px;
    background-color: rgba(147, 191, 0, 0.35);
}

.help-status.transform-down {
    transition: all 0.35s;
    transform: translate(0, 40px);
}

.help-status > i {
    position: relative;
    right: 5px;
    color: #474B4F;
}

.help-status > i.fa-times,
i.attention {
    color: rgba(255, 0, 0, 0.45);
}

i.has-executor {
    color: #27c71c;
}

div.help-status > i {
    position: inherit;
}

.border-right {
    border-right: 1px solid #474B4F;
}

.user-dash {
    background-color: rgba(255, 214, 0, 0.39);
}

.executor {

    background-color: rgba(147, 191, 0, 0.35);
}

.user-dash .btn,
.executor .btn {
    color: #474B4F;
    background-color: inherit;
}

.executor .btn {
    cursor: pointer;
}

.executor .btn:hover,
.user-dash .btn:hover {
    color: #474B4F;
    background-color: rgba(136, 175, 47, 0.63);
}

.card-aside {
    width: 225px;
    max-width: 225px;
}

.card-aside ul li {
    background-color: rgba(147, 191, 0, 0.06);
    border: 1px solid rgba(147, 191, 0, 0.35);
    margin: 1px 0;
}

.card-aside ul li > a,
.card-aside ul li > a:not([href]),
.card-aside ul li > a:not([href]):not([tabindex]):hover {
    color: #474B4F;
    line-height: 37px;
}

.card-aside ul li > a:hover,
.card-aside ul li > a:not([href]):not([tabindex]):hover {
    background-color: rgba(255, 214, 0, 0.34);
}

.card-aside ul li > a.active,
.card-aside ul li > a:not([href]):not([tabindex]).active,
.card-aside ul li > a:not([href]):not([tabindex]).active:hover {
    background-color: rgba(147, 191, 0, 0.35);
}

.card.card-main {
    border: 1px solid rgba(147, 191, 0, 0.35);
}

.card-header.other-user {
    background-color: rgba(147, 191, 0, 0.35);
}

.own-message .card-header {

    background-color: rgba(121, 128, 135, 0.16)
}

.card-header .btn {
    background-color: initial;
    color: #474B4F;
    cursor: pointer;
}

.card-header .btn:hover {
    background-color: rgba(147, 191, 0, 0.44);
}

.messages {
    height: 400px;
    overflow-y: scroll;
}

/*calendar*/
.calendar-wrapper {
    border: 0.1em solid #ccc; /* wrap the calendar inside a box */
    width: 11em; /* define a width for the box */
    height: 13em; /* define a height for the box */
    box-shadow: 0.1em 0.2em 0.8em #ccc; /* box shadow for better view */
}

.calendar-header {
    background-color: #3f51b5; /* give the header a background color */
    color: white; /* give the header a text color */
    text-align: center; /* center the text inside the header */

}

.calendar-body .col-xs-1 {
    width: 1.5em; /* give each column a fixed width */
    text-align: center; /* align text in the center */
}

.dates, .weekdays {
    padding: 0.2em 0.5em; /* giving dates some space  */
}

.calendar-body p {
    font-size: 12px;
    margin: 0.25rem 0;
}

.calendar-body p.disabled {
    color: #4b5257;
}

.calendar-body div.selected {
    background-color: rgba(255, 214, 0, 0.39);
}

.profile-menu {
    width: 150px;
}

.phone-number > input::after {
    content: "-";
    position: absolute;
    right: 5px;
    color: black;
    border: 0px solid;
    top: 5px;
}

/*.phone-number .col-xs-3{*/

/*padding-left:0;*/
/*}*/

.userpic-info {
    height: 32px;
    /*max-height: 0;*/
    width: 32px;
    -webkit-transition: all 0.7s; /* For Safari 3.1 to 6.0 */
    transition: all 0.7s ease;
    /*-webkit-transition:  max-height 0.7s; !* For Safari 3.1 to 6.0 *!*/
    /*transition: max-height 0.7s ease;*/
}

.userpic-info img {
    padding: 5px;
    /*-webkit-transition: all 0.7s; !* For Safari 3.1 to 6.0 *!*/
    transition: transform 1s ease;

}

/*.userpic-info.show img {*/
/*height: 50px;*/
/*width: 50px;*/
/*}*/
.userpic-info.inlarge {
    height: 200px;
    width: 300px;
    background-color: rgb(123, 122, 130);
    position: absolute;
    top: -5px;
    left: -10px;
    z-index: 1000;
    padding: 10px;

    /*-webkit-transition:  max-height 0.7s; !* For Safari 3.1 to 6.0 *!*/
    /*transition: max-height 0.7s ease;*/
}

.userpic-info.inlarge > .user {
    width: 75px;
    height: 75px;
    border: 1px solid red;
}

.userpic-info.inlarge > .popover-username {
    width: 200px;
    border: 1px solid black;
}

.userpic-info.inlarge.no-comments {
    height: 100px;
}

.userpic-info img.userpic-inlarge {
    transform: scale(2) translate(10px, 10px);

}

.userpic-info .comment {
    color: #fcfcfc;
}

.userpic-wrap {
    position: relative;
    height: 37px;
    width: 37px;
}

.popover-content table td {
    border: none;
}

/*.popover-content .user {*/
/*position: relative;*/
/*left: 50px;*/
/*}*/
.rating-popover {
    width: 250px;
}

.rating-popovera {
    line-height: 1rem;
}
.card-block.login {
height: 300px;
    overflow-y: scroll;
}