
<div class="col-12 col-sm-6">
    <div class='form-group'>
        <label for='need-transportation-info' class="my-label">Give more
            information</label>
        <textarea id='need-transportation-info' name="info" class="form-control"
                  rows='5'></textarea>
    </div>
</div>