<ul class="nav flex-column no-gutters">
    {% for item in asideItems %}
        <li class="nav-item sidebar aside-{{ item.menu_item }} bg-primary">
            <a href="{{ item.link }}.html" class="btn btn-aside px-0">

                <i class="fa {{ item.menu_icon_class }}">
                </i><br/>
                {{ item.text }}

            </a>
        </li>
    {% endfor %}
</ul>
<script></script>