<ul class="nav flex-column no-gutters">
    {% for item in asideItems %}
        {% if item.newMessage === "true" %}
            <i class="fa fa-envelope-o fa-2x text-primary" id="badge-{{ item.menu_item }}" aria-hidden="true"
               style="position: relative; left: 62px"></i>
        <li class="nav-item sidebar aside-{{ item.menu_item }} bg-primary" data-id="{{ item.menu_item }}"
            style="margin-top: -32px">

        {% else %}
            <li class="nav-item sidebar aside-{{ item.menu_item }} bg-primary" data-id="{{ item.menu_item }}">
        {% endif %}

        <a href="{{ item.link }}.html" class="btn btn-aside px-0">

            <i class="fa mt-2 {{ item.menu_icon_class }} fa-3x">
            </i><br/>
            {{ item.text }}

        </a>
        </li>

    {% endfor %}
</ul>
