{% import "macros/macro-discussionUser.njk" as user %}
<div class="collapse show" id="viewDiscussionsExample">
    <div id="accordion" role="tablist" aria-multiselectable="true">
        {{ user.add({
            "name": "UserUser",
            "confirm": "",
            "yourConfirm": "",
            "yourMessage": "true",
            "newMessages": "1"
        }) }}
    </div>
</div>