    <nav class="navbar p-0 col-2 col-sm-4 col-md-3">
        <a href="index.html" class="hidden-xs-down navbar-brand py-0 text-primary">Bee
            Helper</a>
        <a href="" class="hidden-sm-up navbar-brand header-link py-0 text-primary">BH</a>
    </nav>
