
    <nav class="navbar name-holder col-8 col-sm-6 col-md-5 ">
        <ul class="nav align-items-center">
            <li class="nav-item">
                <a href="my-profile.html" class="nav-link ">
                            <span>
                        <img src="../images/cat.gif">
                        </span>
                </a>
            </li>
            <li class="nav-item">
                <a href="my-profile.html" class="nav-link text-primary">
                    Yulia Pishchulina</a>
            </li>
            <li class="nav-item hidden-xs-down" style="border-left:1px solid #ffd600">
                <button class="btn btn-primary" type="button">Sign out</button>
            </li>
        </ul>
    </nav>
