    <div class="form-group">
        <em class="text-muted">Add radiobutton to select payment/hour or /day or /help<br>
        May be different for "babysitting" and "transportation"</em>
        <p>
            <label for="amount">Price range:</label>
            <input type="text" id="amount" readonly
                   style="border:0; color:#f6931f; font-weight:bold;">
        </p>
        <div id="price-range"></div>
    </div>
