<div>
    <div class='form-group'>
        <label for='rate' class="my-label">Rate executor:</label>
        <div class="col-12 alert alert-info" id="rate">
            <p>Use star rating as <span class="text-danger">required</span> and optional text field</p>
        </div>
    </div>

    <div class="form-group">
        <legend class="">Would you recommend %user%</legend>
        <div class="col-12">
            <div class="form-check-inline">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1"
                           value="option1" checked>
                    Yes, sure
                </label>
            </div>
            <div class="form-check-inline">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2"
                           value="option2">
                    Probably yes
                </label>
            </div>
            <div class="form-check-inline">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3"
                           value="option3">
                    No
                </label>
            </div>
        </div>
        <div class="col-12">
            <label for='rec-comments' class="my-label">Comment your chose</label>
            <textarea id='rec-comments' name="rate" class="form-control"
                      rows='3'></textarea>
        </div>
    </div>
</div>
