<div class="form-check">
    <label class="form-check-label">
        <input class="form-check-input" id="selectDays" name="set-date" type="radio" onclick="radioHandleClick(this)" value="days">
        Select days of week
    </label>
</div>
<div class="form-check">
    <label class="form-check-label">
        <input class="form-check-input" id="selectDates"  name="set-date" type="radio" onclick="radioHandleClick(this)" value="dates">
        Or choose specific dates
    </label>
</div>






