{% extends "templates/find-form.html" %}

{% block main %}
{{ super() }}

{% import "macros/macro-address-input.njk" as address %}

{% import "macros/macro-checkboxDays.njk" as checkbox %}
{% import "macros/macro-action-btn-link.njk" as searchButton %}

<form>
    <h2>I can help with:</h2>
    <fieldset class="date-field">
        <legend>Date</legend>
        {% include "components/form-Dates.njk" %}
    </fieldset>
    <fieldset>
        <legend>Time and location</legend>
        <div class="row">
            <div class="col-12 col-md-6 ">
                <div class="form-group form-inline">
                    <label for="can-location-range">Search within</label>
                    <select class="form-control ml-2" id="can-location-range" name="range">
                        <option value="5" selected>5 miles</option>
                        <option value="10">10 miles</option>
                        <option value="15">15 miles</option>
                        <option value="20">20 miles</option>
                    </select>
                    <p class="d-inline-block mr-auto ml-2 mt-3">from</p>
                </div>
                {{ address.address( bbAddress ) }}
                <div class="form-group">
                    <label for="dayTimePicker" class="my-label">Select part of day (you can
                        choose both)</label>
                    <div id="dayTimePicker" data-toggle="buttons">
                        {{ checkbox.checkbox("timeAm", "option-time", "am") }}
                        {{ checkbox.checkbox("timePm", "option-time", "pm") }}
                    </div>
                </div>

            </div>

            <div class="col-12 col-md-6">
                <div class="embed-responsive embed-responsive-16by9" id="mapHolder"></div>
            </div>
        </div>

    </fieldset>
    <fieldset>
        <legend>Additional information</legend>
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <label for="canHelpType" class="my-label">Help type (you can choose both)</label>
                    <div id="canHelpType" data-toggle="buttons">
                        {{ checkbox.checkbox("typeBbsitting", "option-type", "babysitting") }}
                        {{ checkbox.checkbox("typetransport", "option-type", "transportation") }}
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <label for="payment" class="my-label">Оплата</label>
                    <div id="payment" data-toggle="buttons">
                        {{ checkbox.checkbox("payMoney", "option-pay", "money") }}
                        {{ checkbox.checkbox("payBarter", "option-pay", "barter") }}
                    </div>
                    <div class="hidden-sm-up" id="paySelected">
                        {% include "components/price-range.njk" %}
                    </div>
                    <div class="hidden-sm-up" id="barterSelected">
                        <div class='form-group'>
                            <label for='need-transportation-payment' class="my-label">Describe barter terms</label>
                            <textarea id='need-transportation-payment' name="info" class="form-control"
                                      rows='5'></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class='form-group'>
            <label for='need-transportation-info' class="my-label">Give more information</label>
            <textarea id='need-transportation-info' name="info" class="form-control"
                      rows='5'></textarea>
        </div>
    </fieldset>
    <div class="row">
        <div class="col-12 text-center mb-5">
            {{ searchButton.button("Find", "user-results-job.html") }}
        </div>
    </div>
</form>

{% endblock %}