{% extends "templates/find-form.html" %}

{% block main %}
{{ super() }}

{% import "macros/macro-address-input.njk" as address %}
{% import "macros/macro-clockpicker.njk" as clockpicker %}
{% import "macros/macro-checkboxDays.njk" as checkbox %}
{% import "macros/macro-action-btn-link.njk" as searchButton %}


<form id="transportation-find">
    <h2>Find help with transportation</h2>
    <fieldset class="date-field">
        <legend>Date</legend>
        {% include "components/form-Dates.njk" %}
    </fieldset>
    <fieldset>
        <legend>Time and location</legend>
        <div class="row">
            <div class="col-12 col-md-6 ">
                {{ address.address( trAddress ) }}
                <div class="row">
                    {{ clockpicker.clockpicker( trClock) }}
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="embed-responsive embed-responsive-16by9" id="mapHolder"></div>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Additional information</legend>
        <div class="row">
            <div class="col-6">
                {% include "components/price-range.njk" %}
            </div>
            {% include "components/add-info.njk" %}

        </div>
    </fieldset>
    <div class="row">
        <div class="col-12 text-center mb-5">
            {{ searchButton.button("Find", "user-results-help.html") }}
        </div>
    </div>
</form>
{% endblock %}
