{% macro add(text) %}
    {% if text === "completed" %}
        <h5 class="mb-0 d-inline-block text-success">{{ text | capitalize }}</h5>
    {% elif text === "current" %}
        <h5 class="mb-0 d-inline-block text-warning">{{ text | capitalize }}</h5>
    {% elif text === "declined" %}
        <h5 class="mb-0 d-inline-block text-muted">{{ text | capitalize }}</h5>

    {% elif text === "upcoming" %}
        <h5 class="mb-0 d-inline-block text-info">{{ text | capitalize }}</h5>
        {% else %}
            <h5 class="mb-0 d-inline-block">{{ text | capitalize }}</h5>
    {% endif %}
{% endmacro %}