{% macro show(name, rated) %}
    <div class="modal fade" id="declineCurrent" tabindex="-1" role="dialog" aria-labelledby="declineTask2"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="declineTask2">Decline Task</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class='form-group'>
                        <label for='decline-reason' class="my-label">Decline reason:</label>
                        <textarea id='decline-reason' name="reason" class="form-control"
                                  rows='3'></textarea>
                    </div>
                    <div class='form-group'>
                        <label for='decline-reason' class="my-label">Rate provider before you can decline</label>
                        <textarea id='decline-reason' name="reason" class="form-control"
                                  rows='3'></textarea>
                    </div>
                    <p>{{ name }} will get notification </p>
                </div>

                <div class="modal-footer">
                    <div class="row">
                        <div class="col-12 alert-info">
                            <p>"Decline" button will become active after user fill all inputs above. They are
                                mandatory</p>
                        </div>
                        <div class="col-8">
                            <p>You are going to decline actual task. This will be displayed in your profile and will be
                                visible for
                                other users. Also it can decrease you rate.
                                task</p>
                        </div>
                        <div class="col-4">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" disabled>Decline
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endmacro %}