{% import "macros/macro-taskCard-headerStatus.njk" as status %}
{% import "macros/macro-cardHeader-executor.njk" as user %}
{% import "macros/macro-taskCard-date.njk" as date %}
{% import "macros/macro-taskCard-location.njk" as location %}
{% import "macros/macro-giveEvaluation.njk" as evaluation %}
{% import "macros/macro-btnModal.njk" as modalBtn %}
{% import "macros/macro-modal-declineUpcoming.njk" as declineUpcoming %}
{% import "macros/macro-modal-declineCurrent.njk" as declineCurrent %}
{% import "macros/macro-calendar-placeholder.njk" as calendar %}

{% macro add(content) %}
    <div class="card-header">
        <div class="row user-dash">
            <div class="col-md-4  align-self-center">
                {{ status.add(content.status) }}
            </div>
            <div class="col-md-3 align-self-center">
                <h5 class="mb-0">{{ content.type | capitalize }}</h5>
            </div>

            <div class="col">

                {{ user.add(content) }}

            </div>
        </div>
    </div>
    <div class="card-block">
        <div class="row">
            <div class="col-12 px-0">
                {% if content.calendarNote === "true" %}
                    <div class="alert alert-info py-0">
                        <p class="mb-0">
                            <small>For each task card dates when help is required have to be highlighted. In cases of
                                <em>"current"</em> or <em>"completed"</em> tasks past(completed) dates have to be
                                highlighted and fade
                            </small>
                        </p>
                    </div>
                {% endif %}
            </div>
            <div class="card-aside">
                {{ calendar.new() }}
            </div>
            <div class="col">
                {#********************Rating block*******************/#}
                <div class="row">
                    <div class="col-7">
                        {% if content.status === "current" or content.status === "completed" and content.newRating === 'true' and content.returnAssessment === 'false' %}
                            {{ evaluation.add(content) }}
                        {% endif %}
                        {% if content.status === "declined" %}
                            <div>
                                <div class="btn btn-secondary active"><i class="fa fa-close text-danger"
                                                                         aria-hidden="true"></i>
                                </div>
                                <p class="d-inline-block">You have declined this proposal
                                    <button type="button" class="btn btn-link p-0">Details</button>
                                </p>
                                <div class="alert-info">
                                    <p><em>or one from following:</em></p>
                                    <p class="mb-0">Declined by other user
                                        <button type="button" class="btn btn-link p-0">Details</button>
                                    </p>
                                    <p class="mb-0">You have cancelled upcoming job
                                        <button type="button" class="btn btn-link p-0">Details</button>
                                    </p>
                                    <p class="mb-0">You have cancelled unfinished task
                                        <button type="button" class="btn btn-link p-0">Details</button>
                                    </p>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-5">
                        {% if content.status === "current" or content.status === "completed" and content.newRating === 'true' and content.returnAssessment === 'false' %}
                            {{ modalBtn.new("myHelp-1", "Rate "+ content.createdBy | capitalize, "btn-warning" ) }}

                        {% endif %}
                    </div>
                </div>
                {#****************************************************#}
                <div class="row">
                    {#*****************Help information****************************#}
                    <div class="col-7">
                        {{ date.add(content) }}
                    </div>
                    {#*************************************************************#}
                    <div class="col-5 w-100">
                        {% if content.status !== "completed" and content.status !== "declined" %}
                            {% if content.confirmedByEmployer === "true" %}
                                {% if content.confirmedByUser === "false" %}
                                    <div class="alert alert-info">
                                        <small>Other user made a request and find you in a list of results among
                                            possible
                                            executors. He(she) confirmed you and send to you this offer.
                                        </small>
                                    </div>


                                {% endif %}
                                <div>
                                    <div class="btn btn-secondary active"><i class="fa fa-check" aria-hidden="true"></i>
                                    </div>
                                    <p class="d-inline-block">{{ content.createdBy }} confirmed you</p>
                                </div>
                                {% elif content.confirmedByUser === "false" and content.confirmedByEmployer === "false" %}
                                <div class="alert alert-info">
                                    <small>You find other user help-request and started discussion. You can either
                                        confirm or decline to change this entry status.
                                    </small>
                                </div>
                            {% endif %}
                            <div class="w-100"></div>

                            {% if content.confirmedByUser !== "true" %}
                                {{ modalBtn.new("#confirmTask", "Confirm task", "btn-warning") }}
                                {{ modalBtn.new("#simpleDecline", "Decline task", "btn-warning") }}
                            {% else %}
                                <div>
                                    <div class="btn btn-secondary active"><i class="fa fa-check" aria-hidden="true"></i>
                                    </div>
                                    <p class="d-inline-block">You confirmed this task</p>
                                </div>
                            {% endif %}
                        {% endif %}
                        {% if content.status === "upcoming" %}
                            {{ modalBtn.new("#declineUpcoming", "Decline task", "btn-warning") }}
                            {{ declineUpcoming.show(content.createdBy) }}
                        {% endif %}
                        {% if content.status === "current" %}
                            {{ modalBtn.new("#declineCurrent", "Decline task", "btn-warning") }}
                            {{ declineCurrent.show(content.createdBy, content.returnAssessment) }}
                        {% endif %}
                        <button class="btn btn-secondary d-block">Discussion</button>

                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        {{ location.add(content) }}
                    </div>
                    {% if content.endNote === "true" %}
                        <div class="col-12 alert alert-info">
                            <small>"Discussion" should be collapse button. Expanded card block will contain all messages
                                between you and "help-creator" regards this entry
                            </small>

                        </div>
                    {% endif %}
                </div>

            </div>
        </div>
    </div>

    <script>
        window.onload = function () {
            var dates = [{% for date in content.dates %}
                "{{ date }}",
                {% endfor %}]
            dates = dates.map(function (d) {
                return new Date(d);
            });

            console.log(dates);
            $('.datepicker-display').datepicker("setDates", dates);
        };

    </script>
{% endmacro %}
