{% macro new() %}
    <div class="calendar-wrapper">
        <div class="calendar-header py-2">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
            <p class="m-0 d-inline-block">March 2017</p>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
        </div>
        <div class="calendar-body p-2">
            <div class="row weekdays ">
                <div class="col-xs-1"><p class="small">S</p></div>
                <div class="col-xs-1"><p class="small">M</p></div>
                <div class="col-xs-1"><p class="small">T</p></div>
                <div class="col-xs-1"><p class="small">W</p></div>
                <div class="col-xs-1"><p class="small">T</p></div>
                <div class="col-xs-1"><p class="small">F</p></div>
                <div class="col-xs-1"><p class="small">S</p></div>
            </div>
            <div class="row dates">
                <div class="col-xs-1"><p class="disabled">26</p></div>
                <div class="col-xs-1 selected"><p class="disabled">27</p></div>
                <div class="col-xs-1"><p class="disabled">28</p></div>
                <div class="col-xs-1"><p>1</p></div>
                <div class="col-xs-1"><p>2</p></div>
                <div class="col-xs-1"><p>3</p></div>
                <div class="col-xs-1"><p>4</p></div>
            </div>
            <div class="row dates">
                <div class="col-xs-1"><p>5</p></div>
                <div class="col-xs-1 selected"><p>6</p></div>
                <div class="col-xs-1"><p>7</p></div>
                <div class="col-xs-1"><p>8</p></div>
                <div class="col-xs-1"><p>9</p></div>
                <div class="col-xs-1 "><p>10</p></div>
                <div class="col-xs-1"><p>11</p></div>
            </div>
            <div class="row dates">
                <div class="col-xs-1 "><p>12</p></div>
                <div class="col-xs-1 selected"><p>13</p></div>
                <div class="col-xs-1 "><p>14</p></div>
                <div class="col-xs-1"><p>15</p></div>
                <div class="col-xs-1"><p>16</p></div>
                <div class="col-xs-1"><p>17</p></div>
                <div class="col-xs-1"><p>18</p></div>
            </div>
            <div class="row dates">
                <div class="col-xs-1"><p>19</p></div>
                <div class="col-xs-1 selected"><p>20</p></div>
                <div class="col-xs-1"><p>21</p></div>
                <div class="col-xs-1"><p>22</p></div>
                <div class="col-xs-1"><p>23</p></div>
                <div class="col-xs-1"><p>24</p></div>
                <div class="col-xs-1"><p>25</p></div>
            </div>
            <div class="row dates">
                <div class="col-xs-1"><p>26</p></div>
                <div class="col-xs-1 selected"><p>27</p></div>
                <div class="col-xs-1"><p>28</p></div>
                <div class="col-xs-1"><p>29</p></div>
                <div class="col-xs-1"><p>30</p></div>
                <div class="col-xs-1"><p>31</p></div>
                <div class="col-xs-1"><p class="disabled">1</p></div>
            </div>
        </div>
    </div>
{% endmacro %}