<div class="alert alert-info" style="position: relative">
    {% block headerP %}

    {% endblock %}
    <button class="btn-link m-2" style="position: absolute; bottom: 0; right: 0;"
            data-toggle="collapse" data-target="#full-description" aria-expanded="false"
            aria-controls="full-description" onclick="changeCollapseTrigger(this)">
        Show full description...
    </button>
    <div class="collapse" id="full-description">
        {% block collapseContent %}

        {% endblock %}
    </div>
</div>