<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ page_title }}</title>
    <meta name="description" content="{{ page_description }}">
    <link href="{{ base_path }}normalize.css-master/normalize.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ base_path }}css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ base_path }}jquery-ui-1.12.1.custom/jquery-ui.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,100,100italic,300,300italic,700,900&subset=latin,cyrillic-ext"
          rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&subset=latin,latin-ext" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400&subset=latin,cyrillic-ext" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Neucha" rel="stylesheet">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
    <link rel="stylesheet" href="{{ base_path }}src/scss/bootstrap-clockpicker.css">
    <link rel="stylesheet" href="{{ base_path }}src/scss/custom.css">
    <script src="https://use.fontawesome.com/ee57c8a0cc.js"></script>


</head>
<body class="{{ body_classes }}">

<header class="fixed-top bg-primary">
    <div class="container-fluid">
        {% include "components/header.njk" %}
    </div>
</header>
<main>
    <div id="main-section" class="container-fluid h-100">
        <div class="row">
            {% block aside %}
                <aside>
                    <div class=" col-2 navbar sidebar-nav no-gutters hidden-xs-down p-0" role="navigation">
                        {% include "components/aside.njk" %}
                    </div>
                </aside>

            {% endblock %}
            <div class="col page-content my-4">
                <div class="col-6 col-sm-10 mx-auto ">

                    {% block main %}
                        <!-- This block (and any other block) can be replaced using template inheritance, or leave the default content in -->

                    {% endblock %}

                </div>
            </div>
            <div class="row">
                <footer class="bg-primary hidden-sm-up fixed-bottom">
                    {% block footer %}
                        {% include "components/footer.njk" %}
                    {% endblock %}
                </footer>
            </div>
        </div>
        {% block page_templates %}
        {% endblock %}
    </div>
</main>

{% block footer_scripts %}
    {% include "partials/footer-scripts.njk" %}
{% endblock %}
{% block page_script %}

{% endblock %}

</body>
</html>
